*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Montserrat', sans-serif;
}

.container{
    max-width: 1254px;
    padding: 0 20px;
    margin: 0 auto;
}
@import 'services';
@import 'header';
@import 'About';
@import 'portfolio';
@import 'advantage';
@import 'footer';